<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @feed.user_id %>
</p>

<p>
  <strong>Circle:</strong>
  <%= @feed.circle_id %>
</p>

<%  @result.each do |item| %>
    <p><%=  link_to(item.title,item.url) %></p>

<%  end %>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
